body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 200, 124) 0%,
    rgb(252, 251, 121) 90%
  );
}

h1,
p {
  text-align: center;
}

.croissant-image {
  max-width: 80%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
  box-shadow: 10px 10px 10px 10px;
}
footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
}
